a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color:#242b5b; 
    text-decoration:none; 
    cursor:pointer;  
}

.card-body{
background-color: rgb(233, 233, 233);
border-style: none;
}